@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2d5c9e;
  --color-secondary: #f2c300;
  --color-neutral: #b8b5b7;
  --color-text: #494946;
}

* {
  font-family: "Inter", sans-serif;
}

.nav-menu {
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 1em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.nav-menu:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);
  color: #ffffff;
}

.nav-menu:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-menu::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.nav-menu::after {
  background-color: #fff;
}

.nav-menu:hover::after {
  opacity: 0;
}

.nav-menu.active::after {
  opacity: 0;
}

.nav-menu.active {
  color: #fff;
  background-color: var(--color-primary);
}